html {
  height:100%;
}

body {
  margin:0;
}

.bg {
  animation:slide 9s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #363636 50%, #636363 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:30s;
}

.bg3 {
  animation-duration:30s;
}

.content {
  width: 400px;
  /* background-color:#727272; */
  background-color: rgba(200, 195, 195, 0.2);
  border-radius:.28em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:15px; 
  position:fixed;
  text-align:center;
  top:50%;
  /* background-color: transparent; */
  transform:translate(-50%, -50%);
  border-top: 1px solid rgb(179, 175, 175);
  border-right:  solid 2px rgb(150, 146, 146);

  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
}
.cole{
  background-color: #626262;
}
.login{
  background-color: #FF6832;
}

h1 {
  font-family:monospace;
}

.avec{
  font-size: 14px;
}
.adm{
  font-size: 16px;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

.se:hover{
 background-color: #828181;

}
